
<!-- Intro Header -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 ">
          <h1 class="brand-heading">
            <%= image_tag "tl-gana-pag1.png", class: 'img-responsive' %></h1>
          <div class="text-hide gana">
                            Descubre tu rayadito en la botella y Canjea tu premio o registra tu código aquí  
                            <%= image_tag "texto-pag1.png", class: 'img-responsive' %>
          </div>

                        <div class="div-margin-top">
                            <a href="#download" class="page-scroll btn btn-dark btn-lg">REGISTRAR Código</a>
                        </div>
                        <div class="col-mb-12 div-margin-top">
                            <a href="#premios" class="btn btn-circle page-scroll">
                              <i class="icon icon-double-angle-down animated"></i>
                            </a>
                        </div>
          
        </div>

      </div>
    </div>
  </div>

</header>

<div class="copyright">
  <small>El consumo de alcohol perjudica la salud. Ley 42-01.  Disfruta Chivas Regal responsablemente. CHIVAS REGAL® 12 Years Old Blended Scotch Whisky.  40% Alc./Vol. (80 Proof). © 2016 Pernod Ricard Dominicana, Santo Domingo, R.D.</small>
</div>


<!-- Premios Section -->

<div class="premios">
  <section id="premios" class="container content-section text-center">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-hide">Premios<%= image_tag "tl-premios.png", class: 'img-responsive' %></h2>
        <div class="row">
          <div class="col-sm-6 col-md-offset-0 col-xs-12">
            <%= image_tag "premio-1.png", class: 'img-responsive center-block' %>
          </div>
          <div class="col-sm-6 col-md-offset-0 col-xs-12">
            <%= image_tag "premio-2.png", class: 'img-responsive center-block foto-bot' %>
          </div>
          <div class="col-mb-12 div-margin-top">
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="icon icon-double-angle-down animated"></i>
            </a>
          </div>
      </div>
    </div>
  </section>
</div>

<!-- Mecanica Section -->

<div class="mecanica">
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-hide">Cómo participar <%= image_tag "tl-03.png", class: 'img-responsive' %></h2>
        <div class="row">
          <div class="col-md-5 col-md-offset-4">
            <%= image_tag "step-1.png", class: 'img-responsive' %>
          </div>
          <div class="col-md-5 col-md-offset-4">
            <%= image_tag "step-2.png", class: 'img-responsive' %>
          </div>
          <div class="col-md-5 col-md-offset-4">
            <%= image_tag "step-3.png", class: 'img-responsive' %>
          </div>
        </div>
        <div class="div-margin-top">
            <a href="#download"  class="page-scroll btn btn-dark btn-lg">REGISTRAR Código</a>
        </div>
        <div class="div-margin-top">
          <%= image_tag "texto-redes.png", class: 'img-responsive' %>
        </div> <br>
        <small>Promoción válida para República Dominicana hasta el 1 de enero del 2017</small>
      </div>
    </div>
  </section>
</div>

<!-- Registrase Section -->
<div class="registrate">
  <section id="download" class="content-section text-center">
    <div class="download-section">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h2 class="text-hide">Registra tu código
            <%= image_tag "tl-registro.png", class: 'img-responsive' %></h2>

          <div class="formulario div-margin-top">
            <%= form_tag({action: :participate}, multipart: true, id: "consumidor") do %>
            <div class="form-group">
                  <%= text_field_tag :code, nil, class: 'form-control', placeholder: "Ingresa tu código aquí", required: 'required', maxlength: "15"%>
                </div>
              <div class="form-group">
                <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Nombre Completo', required: 'required' %>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <%= text_field_tag :identification, nil, class: 'form-control', placeholder: "CEDULA", required: 'required', maxlength: "11", max_length: "11", onkeypress: "return isNumeric(event)", oninput: "maxLengthCheck(this)" %>
                </div>

                <%= label_tag :birth, "Fecha de Nacimiento" %>
                <br/>
                <%= date_select :birth, nil, prompt: { day: 'Día', month: 'Mes', year: 'Año' }, use_month_numbers: true, order: [:day, :month, :year], start_year: 1930, end_year: 1998, class: 'form-control', required: 'required' %>
              <div class="form-group">
                <%= email_field_tag :email, nil, class: 'form-control', placeholder: "Correo electrónico", required: 'required' %>

              <div class="form-group">
                  <div class="form-group term"><%= check_box_tag :acepto, 1, false, required: 'required' %> <a class="page-scroll" href="#terminos">Acepto los Términos y Condiciones</a></div>
                </div>
                <div class="enviar">
                  <%= submit_tag "ENVIAR DATOS", class: 'page-scroll btn btn-default btn-lg btnsend' %>
                </div>
            <% end %>


          </div>
</div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="messageend" style="display: none;">
    <div id="blackgb"></div>
    <div id="inline" style=" text-align:center;">
      <a class="btn btn-circle page-scroll" id="closediv" href="/">
        <i class="icon icon-remove animated"></i>
      </a>
      <br/>
      <h1>¡FELICIDADES!</h1>
      <h2>TU REGISTRO SE HA COMPLETADO EXITOSAMENTE</h2>
      <p>Entérate si eres un ganador en nuestra página de facebook</p>
      <p>
      <div class="fb-follow" data-href="https://www.facebook.com/ChivasDominicana/" data-width="300" data-height="200" data-layout="button" data-show-faces="true"></div>
      </p>
    </div>
</div>

<!-- TERMINOS Section -->
<div class="terminos">
  <section id="terminos" class="content-section text-center">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <p><%= image_tag "logo-white-ch.png", class: 'img-responsive' %></p>

        <div class="overflow" style="padding: 15px;">
          <p style=" font-size: 16px;">
          <%= render 'terms' %>
          </p>

        </div>
        <br/>
        <a href="#download" class="page-scroll btn btn-lg btn-dark">ACEPTO</a>

      </div>
    </div>
  </section>
</div>



<%= javascript_tag do -%>

    var thisHash = window.location.hash;
    jQuery(document).ready(function() {
        if(window.location.hash) {
            $(".messageend").show();
        }
    }); // ready

    $("#closediv").click(function() {
        $("#inline").hide(),
        $("#blackgb").hide(),
        $(this).hide();
    });

//Limit IDentificacion
  function maxLengthCheck(object) {
    if (object.value.length > object.max_length)
      object.value = object.value.slice(0, object.max_length)
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

<% end -%>