<div class="row">
  <div class="col-md-12">
    <%= form_tag(startsort_url, method: :post) do %>
        <h1>Sortear Códigos Ganadores</h1>
        <hr/>
        <p class="text-danger"><b>Antes de realizar el sorteo, deben existir por lo menos 2 códigos códigos válidos para el mismo.</b></p>
        <p class="text-danger"></p>
        <div class="row">
          <div class="col-md-6 field">
            <h4><b>¿Cuantos GANADORES?</b></h4>
            <small>Códigos que NO HAN GANADO: <b><%= codes_available_for_sort.count %></b></small>
            <div class="row">
              <div class="col-md-12">
                <%= number_field_tag :ganadores, 0, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-6 field">
            <h4>Fecha del sorteo</h4>
            <div class="row">
              <div class="col-md-12"><%= date_field_tag :fecha, Date.today, class: 'form-control', disabled: true %></div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12">

            <div class="portlet box green">
              <div class="portlet-title">
                <div class="caption">Codigos válidos para sorteo </div>
                <div class="tools">
                  <a class="collapse" href="javascript:;"></a>
                  <a class="config" data-toggle="modal" href="#portlet-config"></a>
                  <a class="reload" href="javascript:;"></a>
                  <a class="remove" href="javascript:;"></a>
                </div>
              </div>
              <div class="portlet-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Código</th>
                      <th>Estado</th>
                      <th>Consumidor</th>
                      <th colspan="3"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @codes %> 
                      <% @codes.each do |i| %>
                          <tr>
                            <td><%= i.id %></td>
                            <td><%= i.code %></td>
                            <td><%= i.is_used? ? 'Registrado': 'Sin registrar' %></td>
                            <td><%= link_to i.customer.name, customer_path(i.customer) if i.customer %></td>
                          </tr>
                      <% end %>
                    <% else %>
                      No hay disponibles códigos válidos para realizar sorteo.
                    <% end %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 field">
            <%= submit_tag 'Sortear', class: 'btn btn-lg green' %>
          </div>
        </div>
        </div>
    <% end %>
    </div>
<hr/>
<%= link_to 'Volver atrás', winners_path %>
